extends nav
block content
  div.minitron
    div.container
      h4 CompSci 101
  div.container
    div.row
      div.col-lg-12
        h2 Select an exam paper
    div.row
      div.col-lg-8
        if exams
          for exam in exams
            div.row
              div.col-lg-12
               if (exam.answered !== exam.questions)
                 a.btn.btn-default.btn-block.course-button(href="/answer?c=" + course + "&e=" + exam.year + "s" + exam.semester + "&q=" + (+exam.answered+1))
                   h3 #{exam.type.charAt(0).toUpperCase() + exam.type.slice(1)} Semester #{exam.semester.charAt(0).toUpperCase() + exam.semester.slice(1)} #{exam.year}
                   p #{exam.answered}/#{exam.questions} Questions answered
               else
                 a.btn.btn-default.btn-block.course-button(href="/exam?c=" + course + "&e=" + exam.year + "s" + exam.semester + "&q=" + (+exam.answered+1))
                   h3 #{exam.type.charAt(0).toUpperCase() + exam.type.slice(1)} Semester #{exam.semester.charAt(0).toUpperCase() + exam.semester.slice(1)} #{exam.year}
                   p #{exam.answered}/#{exam.questions} Questions answered

     // div.col-lg-4 //do not need atm
        a.btn.btn-default.btn-block.course-button(href="/add")
          h3 +Add exam