extends nav

block homeNav
  li.active
    a(href="/") Home
block content
  if !user
    div.jumbotron
      div.container
        img(src="images/logo.png", alt="Examinate Logo", height="150", width="150")
        h1 Examinate
        h3  Practice exams and crowd sourced answers
        block message
        a.btn.btn-default.btn-lg(href="/auth/facebook")
          i.fa.fa-facebook
          |  | Sign in with Facebook
  else
    div.minitron
      div.container
        h1 Welcome, #{user.displayName}
    div.container
      div.row
        div.col-lg-7
          div.row
            div.col-lg-12
              h2 Search for a course
              div.input-group#main-search
                input.form-control(type="input", placeholder="e.g. compsci 280")
                div.input-group-btn
                  button.btn.btn-default(type="button") Go!
          div.row
            div.col-lg-12(style="height:30px")
          div.row
            div.col-lg-12
              div.jumbotron(style="background-color: #fafafa;color:#000;text-align:left;")
                h2 Welcome to Examinate
                p Check out your courses on the right
                p or search to add a new one
                a.btn.btn-default.btn-lg(href="/about") Learn more
          //div.row
            div.col-lg-12(style="height:30px")
          //div.row
            div.col-lg-12
              div.col-lg-12(style="border:1px solid;text-align:center;height:100px;")
                p Advertising available
        div.col-lg-5
          h2 Your courses
          if courses
            for course in courses
                div.row
                  div.col-lg-12
                    a.btn.btn-default.btn-block.course-button(href="/courseLanding?c="+ course.name)
                      h2 #{course.name}
                      h4 #{course.desc}
                      p #{course.exams} exams (#{course.complete} complete)