//   Created by troy on 27/02/14.
extends nav
block submitNav
  li.active
    a(href="/submit") Submit

block content
  div.minitron
    div.container
      h3 CompSci 101 Exam Semester 1 2013
  div.container
    div.row(style="padding-top: 30px")
      div.col-lg-8
        div.row
          div.col-lg-12
            h3 Question #{qnum}
        div.row
          div.col-lg-12
            a.btn.btn-default.btn-block.course-button(href=linkURL+"&a=a")
              h4 A
        div.row
          div.col-lg-12
            a.btn.btn-default.btn-block.course-button(href=linkURL+"&a=b")
              h4 B
        div.row
          div.col-lg-12
            a.btn.btn-default.btn-block.course-button(href=linkURL+"&a=c")
              h4 C
        div.row
          div.col-lg-12
            a.btn.btn-default.btn-block.course-button(href=linkURL+"&a=d")
              h4 D
        div.row
          div.col-lg-12
            a.btn.btn-default.btn-block.course-button(href=linkURL+"&a=e")
              h4 E
        div.row
          div.col-lg-3
            a.btn.btn-warning.btn-block.course-button(href=prevURL)
              h4 Back
          div.col-lg-6
          div.col-lg-3
            a.btn.btn-primary.btn-block.course-button(href=linkURL+"&a=skip")
              h4 Skip